body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    color: white;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
}

# {
    font-size: 15px;
    color: aquamarine;
}