body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 21px;
    color: white;
    font-weight: 300;
}

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: white;
    font-weight: 300;
}

.header--secondary {
    font-weight: 300;
    color: white; 
    font-size: 42px;
}

.header--sub-header {
    font-weight: 300;
    color: grey; 
    font-size: 21px;
}

.link--cta {
    font-size: 15px;
    color: aquamarine;
}

.footer--copyright {
    font-size: 21px;
    color: grey;
    text-align: right;
}